# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo

# Virtual environment
.venv/

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pyo

# Logs
*.log
